/*
Columns: 2
Main: Left
Sidebars: Right, stacked
-------------------------------------------------------------- */

#container {
	float: left;
	margin: 0 -300px 0 0;
	width: 100%;
}

#content {
	margin: 0 300px 40px 0;
	padding-left: 20px;
}

aside#sidebar1,
aside#sidebar2 {
	float: right;
	overflow: hidden;
	padding-right: 20px;
	width: 240px;
}

aside#sidebar2 {
	clear: right;
} 

footer {
	clear: both;
}